{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{title}}</h1>

            
        {% if not classes %}
        <p> You are not enrolled in any course</p>
        {% else %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Course ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Term</th>
                    <th scope="col">Enroll</th>
                </tr>
                </thead>
                <tbody>

                <!-- Construct the rest of courses here -->
                {% for course in classes %}
                <tr>
                    <td scope='row'>{{ course.r2["courseID"] }}</td>
                    <td>{{ course.r2["title"] }}</td>
                    <td>{{ course.r2["description"] }}</td>
                    <td>{{ course.r2["credits"] }}</td>
                    <td>{{ course.r2["term"] }}</td>
                    
                </tr>
                {% endfor %}
                </tbody>
            </table>
        
        </div>
    {% endif %}
    </div>
{% endblock %}
